{% extends "base_generic.html" %}

{% block content %}
<style >
  
  li{
    margin-top: 10px;

  }
  
  .icon1 i{
  	display: inline-block;
  	padding-left: 10px;
  	margin-left: 150px;
  }

  .icon2 i{
    display: inline-block;
    padding-left: 10px;
    margin-left: 150px;
  }
  .bg{
  	/*min-width:1270px!important;
    height: 650px;
    /*float: right;*/
  width:100%;
  position: absolute;
  right: 0px;
        left:0px;
      height: 650px;
      float: left;
    margin-top: 0px!important;
    display: inline-block;  
    /*background-image: url('https://img.freepik.com/free-photo/abstract-communication-technology-network-concept_34629-641.jpg?size=626&ext=jpg');*/
/*    background-image: url('https://ak8.picdn.net/shutterstock/videos/31218658/thumb/1.jpg');*/
      background-image: url('http://getwallpapers.com/wallpaper/full/2/8/a/265330.jpg');
     color: whitesmoke;
     background-repeat: no-repeat;
     background-size: cover;
     opacity: .95;
  }
  i img{
    border-radius: 50%;
  }
  .name ul li{
    display: inline;
    padding-left: 20px;
    font-size: 20px;
}

</style>
<div class="bg">
	<!--<img src="https://media2.giphy.com/media/13S1lWb5qheNBC/giphy.gif?cid=790b7611f8b4f0d9921f66a998495f516353afb81f1d771c&rid=giphy.gif" width="1270" height="650" style="opacity: 0.1; 
position: absolute;">
  <h1>OUR WORKFORCE</h1>-->
  

<!--<i><img src="https://scontent.fccu10-1.fna.fbcdn.net/v/t1.0-9/82390718_118186799688125_989024543274172416_n.jpg?_nc_cat=111&_nc_oc=AQnRa9fV2KDxNlnO-WOG_0klY2rlUaqwmE1ebrUmECTUjRTNHWe0q855BkQWYuEfgYQ&_nc_ht=scontent.fccu10-1.fna&oh=90592fc4c0758849b0e49f4a811ab9ad&oe=5EA93B43" width="100px" height="100px"><br>Sayak Das<br>Documentary<br>8436743238<br>sayakd6@gmail.com</i>--></div>

<div class="icon1 w3-animate-left" style="padding-top: 70px; opacity:.9;color:antiquewhite;">
  <i><img src="https://scontent.fccu10-1.fna.fbcdn.net/v/t1.0-9/p960x960/81662675_118186709688134_2139951881680584704_o.jpg?_nc_cat=105&_nc_oc=AQklQMNFexnAXHVK1b-FChiOvYth_CdQkEeXxchdLSHDqPfvldYiLx3a4rRA7djH0cA&_nc_ht=scontent.fccu10-1.fna&_nc_tp=1&oh=cc352d69986aaf08acc36d1458f6636e&oe=5EA93FE3" width="100px" height="100px"><br>Rishav Nath Pati<br>L'artiste<br>9123877594<br>patirishavnath@gmail.com</i>
  
 <i><img src="https://scontent.fccu10-1.fna.fbcdn.net/v/t1.0-9/81760339_118186859688119_3126575972027990016_n.jpg?_nc_cat=104&_nc_oc=AQk08U--a9eIsMMvctY5o3vptG6eBhRbKE1NA8ZgYd9AGVix2NY-1t_aAJRZpY_22P4&_nc_ht=scontent.fccu10-1.fna&oh=bd054734f27cc264bc401770666174e1&oe=5EA8A097" width="100px" height="100px"><br>Devdan Dey<br>The Architect<br>7908402299<br>mnz.devdan@gmail.com</i>  
 <i><img src="https://scontent.fccu10-1.fna.fbcdn.net/v/t1.0-9/82598237_118597086313763_8766088041375727616_n.jpg?_nc_cat=105&_nc_oc=AQnF4XVFVbEIoKC5mS80SsaV2GlNs9MYuSGgAAsxeAImDbi2kgzLoAa9lTDX5DMgxQg&_nc_ht=scontent.fccu10-1.fna&oh=e0ca6624986ffe2555c9c585c8fd41cd&oe=5E974935" width="100px" height="100px"><br>Samiparna Biswas<br>The Medium<br>8902695095<br>samiparnab1@gmail.com</i>
 </div>


<div class="icon2 w3-animate-right" style="padding-top: 30px; opacity:.9; color:antiquewhite;">
  <i><img src="https://scontent.fccu10-1.fna.fbcdn.net/v/t1.0-9/p960x960/82368466_118186829688122_3153875196478226432_o.jpg?_nc_cat=101&_nc_oc=AQl5fup8J5lJux1M_2x1sL-ez_wkvfOHJqOzxApfuptfR5gIGCcYo2IovAYSvAME610&_nc_ht=scontent.fccu10-1.fna&_nc_tp=1&oh=3bf28b75cd6c17a6fdc1aba307d56db6&oe=5EA5EF46" width="100px" height="100px"><br>Sagnik Dasgupta<br>The Godfather<br>9007014705<br>dasgupta4.sagnik@gmail.com</i>

<i><img src="https://scontent.fccu10-1.fna.fbcdn.net/v/t1.0-9/p960x960/50896912_824284644572478_7052386637048709120_o.jpg?_nc_cat=107&_nc_oc=AQl4KwGYVFx3xlO0SnBKwqdqLn8OkfHGY4s6OEYPDRf3XNFX15Wz4smOscElWDY7eJQ&_nc_ht=scontent.fccu10-1.fna&_nc_tp=1&oh=7a7548341842c9e5ce01e6f1b43a6859&oe=5EAE5A31" width="100px" height="100px"><br>Koustab Ghosh<br>The Jack of all Trades<br>9836308666<br>koustab2000@gmail.com</i>

<i><img src="https://scontent.fccu10-1.fna.fbcdn.net/v/t1.0-9/81624713_118186893021449_5804222664989999104_n.jpg?_nc_cat=102&_nc_oc=AQkJwgd5ohiaOceX2TWadzFf6eKQqWrEgjASNmeThwK4f-sSZ2w6mVzRmdbII9acT5M&_nc_ht=scontent.fccu10-1.fna&oh=0d449cf1abf74c55e72009158ac9aa76&oe=5EA9A430" width="100px" height="100px"><br>Soumyajyoti Das<br>The Columnist<br>8420697646<br>sjdas1317@outlook.com</i>
</div>
<div class= "name">
<h4 style="opacity: .9; color:  #e60000; padding-top:10px; padding-left: 20px;">Special Thanks:</h4>
<ul><li style="opacity: .9; color: whitesmoke;">Sayanta Neogi</li></ul>
<h4 style="opacity: .9; color:  #e60000; padding-top:0px;"> &nbsp&nbsp&nbspOther Comrades:</h4>
<ul style="opacity: .9; color: whitesmoke;">
  <li>Kunal </li>
  <li>Dipanjan </li>
  <li>Milind</li>
  <li>Sutirtha</li>
  <li>Sayak</li>
  <li>Shirsho</li>
  <li>Arijit</li>
  <li>Aryak</li>
  <li>Argha</li>
  <li>Rishav</li>
  <li>Ishan</li>
</ul></div>

</div>
{% endblock %}
