{% extends "base_generic.html" %}

{% block content %}
<style>
	.bg
	{
		background-image: url('https://scontent.fccu10-1.fna.fbcdn.net/v/t1.0-9/s960x960/82250695_112794310254419_160677440962691072_o.png?_nc_cat=110&_nc_oc=AQn79BfvFqqaWl4sWLcxXrzdo_KBbqMGyZtMXssRleKa8HUBr_3ZHfs_fZn3XupYNCg&_nc_ht=scontent.fccu10-1.fna&oh=d27dad953d0464e42c752c95ef305e15&oe=5ED59843');
		opacity: 0.95;
		background-size: cover;
		background-repeat: no-repeat;
		height: 650px;
		width:  100%;
		color: aliceblue;
		padding-top: 50px;
		padding-left: 50px;
		padding-bottom: 50px;
	}
</style>
<div class="bg">
<h1> Delete Participant</h1>

<p>Are you sure you want to delete the participant:<strong> {{ participant }}?</strong></p>

<form action="" method="POST">
	{% csrf_token %}
	<input type="submit" name="" value="Yes, delete.">
</form>
</div>
{% endblock %}